body {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    min-height: 100vh;
    margin:0;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #111;
  color: white;
  padding: 15px 0;
  text-align: center;
}
h1 { margin: 0; }
.menu-nav {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
h2{color:#eee;}
.menu-nav a {
    position: relative;
    color: #eee;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: .5s ease;

}
p {color:#eee;}
.menu-nav {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.menu-nav a {
    position: relative;
    color: #eee;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: .5s ease;
}
.menu-nav a:hover {
    color: #8212eb;
}
.menu-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #8212eb;
    transition: width 0.3s ease;
}
.menu-nav a:hover::after {
    width: 100%;
}